@font-face {
    font-family: 'ZCOOL KuaiLe';
    src: url(../fonts/ZCOOL_KuaiLe/ZCOOLKuaiLe-Regular.ttf);
}

@font-face {
    font-family: 'Allison', cursive;
    src: url(../fonts/Allison/Allison-Regular.ttf);
}

@font-face {
    font-family: 'Alfa Slab One', cursive;
    src: url(../fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf);
}